<style type=text/css>	
body{
   background-color: grey;
}
p {
  color:blue;
  font-family:Verdana;
  
}
 .grande      { 
	font-size:32px; 
	font-weight: bolder;
	}
.evidenziato{ background-color:orange;
	          color: black;
}
.didascalia{ 
	font-size:8pt; 
	font-style: italic;
}
</style>
